body {
  background: $body-background;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  width: 100% - 2 * $site-gutter;
  max-width: $site-width;
  margin-right: auto;
  margin-left: auto;
}

.f-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f0-container {
  // height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.site-header {
  text-align: center;
}

.side-footer {
  p {
    color: $spring-green;
    text-transform: uppercase;
    position: fixed;
    right: -60px;
    bottom: 130px;
    transform: rotate(90deg);

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 20px;
      background: white;
      position: absolute;
      right: -30px;
      top: 6px;
    }

    a {
      color: white;
    }
  }
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;

  // background: linear-gradient(-180deg, rgba(66,75,92,0) 0%, rgba(46,58,81,0) 100%);

  position: relative;
  text-align: center;
  width: 25%;
  height: 100vh;
  // border-left: 1px solid #475061;
  transition: all 0.3s ease-in-out;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      $time: $i * 3 + unquote('');
      $delay: unquote('0.' + $time + 's');
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: $delay; 
      animation-fill-mode: both;
      animation-timing-function: ease-in;
    }
  }

  &:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: translateY(100%);
    // opacity: 0;
    background: linear-gradient(-180deg, rgba(66,75,92,0) 0%, rgba(46,58,81,1) 100%);
    transition: transform 0.6s ease-in-out;
  }
    
  &:not(:last-child) {
    border-right: 1px solid #475061;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -13%;
      margin-top: 6%;
      z-index: 1;
      display: block;
      width: 100px; 
      height: 100px;
      transform: rotate(45deg) translate(-50%, -50%);
      background: #475061;
    }
  }

  &-atomic {
    position: relative;
    z-index: 2;
    font-size: 1.6em;
    color: $spring-green;
    transition: color 0.3s ease-in-out;
  }

  &-name {
    position: relative;
    z-index: 2;
    font-family: $sans;
    font-size: 3.2em;
    font-weight: 700;
    color: white;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    
    &:before {
      transform: translateY(0%);
      // opacity: 1;
      // height: 100vh;
    }

    .element-atomic {
      color: white;
    }

    .element-name {
      color: $spring-green;
    }

  }
}

.element-page {

  .diamond {
    display: block;
    position: relative;
    z-index: 0;

    height: $diamond-size;
    width: $diamond-size;
    overflow: hidden;
    transform: rotate(-45deg) scale(1,1);
    box-shadow: 0px 0px 50px rgba(black, 0);
    transition: all 0.3s ease-in-out;
    background: #475061;

    &:hover {
      box-shadow: 0px 0px 50px rgba(black, 0.3);
      transform: rotate(-45deg) scale(1.1,1.1);
    }

    &-content {
      display: table-cell;
      height: $diamond-size;
      padding: 0 10px;
      transform: rotate(45deg);
      text-align: center;
      vertical-align: middle;
      width: $diamond-size;
    }

    &-cat {
      transform: translate3d(0, 0, 0); // Stop text flickering
      font-size: 1.4em;
      color: #CCCCCC;
    }

    &-title {
      transform: translate3d(0, 0, 0); // Stop text flickering
      font-size: 3.4em;
      font-weight: 700;
      color: white;
    }

    &-title__atm {
      font-size: 4.8em;
      font-weight: 700;
      color: white;
    }

    &:nth-child(1) {
    }

    &:nth-child(2) {
      margin-top: -55px;
      margin-bottom: -109px;
      margin-left: 145px;
    }

    &:nth-child(3) {
      margin-left: 0px;
      margin-top: 54px;
    }

    &:nth-child(4) {
      margin-left: 145px;
      margin-top: -55px;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        $time: $i * 3 + unquote('');
        $delay: unquote('0.' + $time + 's');
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: $delay; 
        animation-fill-mode: both;
        animation-timing-function: ease-in;
      }
    }

    img {
      max-width: 400px;
      transform: rotate(45deg) scale(1.3, 1.3);
      transform-origin: 50% 50%;
      transition: transform 5s ease-in-out;

      &:hover {
        transform: rotate(50deg) scale(1.8, 1.8);
      }
    }
  }

  // .diamond {
  //   position: absolute;
  //   overflow: hidden;
  //   width: 180px;
  //   height: 180px;
  //   transform: rotate(45deg);
  //   background-color: #475061;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   &:nth-child(1) {
  //     top: 180px;
  //     // left: 0px;
  //   }

  //   &:nth-child(2) {
  //     top: 314px;
  //     left: 217px;
  //   }

  //   &:nth-child(3) {
  //     top: 450px;
  //     left: 80px;
  //   }

  //   &:nth-child(4) {
  //     top: 314px;
  //     left: 217px;
  //   }

  //   .dc {
  //     transform: rotate(-45deg);
  //   }

  //   img {
  //     max-width: 350px;
  //   }
  // }

  .meta {
    flex: 0.4;
    padding-left: 6vw;

    &-content {
      top: 50%;
      transform: translateY(-50%);
      position: fixed;
    }
  }

  .content {
    flex: 1;
    max-width: 747px;
    padding-top: 100px;

    h1 {
      margin-left: -100px;
      margin-bottom: 45px;
      font-family: $sans;
      font-size: 9.2em;
      font-weight: 700;
      color: white;
    }

    p {
      font-size: 1.8em;
      color: #CCCCCC;
      // line-height: 24px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

// .disc {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   display: block;
//   // background-color: red;
//   width: 100vw;
//   height: 100px;

//   &:before {
//     content: " ";
//     display: block;
//     width: 0px;
//     height: 1px;
//     background-color: #EBE6C0;
//     transition: all 0.5s ease-in-out;
//   }

//   &:hover {
//     &:before {
//       content: " ";
//       position: relative;
//       width: 100%;
//       height: 1px;
//       background-color: #EBE6C0;
//     }
//   }
// }