// SITE

$site-width: 960px;
$site-gutter: 7.5%;

// BREAKPOINTS

// $tablet: ;
// $desktop: ;

// FONTS

$sans: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
$mono: 'Source Code Pro', Consolas, monaco, Courier New, monospace;
// $serif: ;

// COLOURS

$light-grey: #AAAAAA;
$tuna: #2F3642;

$body-background: $tuna;

$tagline: $light-grey;