.btn {

  &-back {
    position: absolute;
    z-index: 10;
    // overflow: hidden;
    padding: 20px 0 0 40px;
    color: $spring-green;
    font-family: $sans;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      margin-top: 6.5px;
      width: 20px;
      height: 2px;
      background-color: white;
      transition: all 0.3s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      left: -40px;
      // left
      margin-top: 6.5px;
      margin-right: -60px;
      width: 0px;
      height: 2px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &:before {
        left: 120px;
        width: 30px;
        background: $spring-green;
      }

      &:after {
        left: 0px;
        width: 20px;
        background: $spring-green;
      }
    }
  }

  &-source {
    position: absolute;
    right: 0;
    z-index: 10;
    // overflow: hidden;
    padding: 20px 40px 0 0;
    color: $spring-green;
    font-family: $sans;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      margin-top: 6.5px;
      width: 20px;
      height: 2px;
      background-color: white;
      transition: all 0.3s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      // left
      margin-top: 6.5px;
      margin-right: -10px;
      width: 0px;
      height: 2px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &:before {
        right: 165px;
        width: 30px;
        background: $spring-green;
      }

      &:after {
        right: 10px;
        width: 20px;
        background: $spring-green;
      }
    }
  }

  &-diamond {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transform-origin: 50% 50%;
    border: 1px solid #EBE6C0;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:before {
      position: absolute;
      content: " ";
      // display: block;
      background-color: #EBE6C0;
      height: 100%;
      width: 100%;
      z-index: -1;
      left: 0;
      top: 0;

      transform: scale(0) rotate(-45deg);
      transform-origin: 50% 50%;
      transition: all 0.44s ease-in-out;
    }

    // &:after {
    //   content: "↓";
    //   position: absolute;
    //   transform: translate(-10%, 30%) rotate(-45deg);
      
    //   bottom: 0;
    //   font-size: 2em;
    // }

    span {
      position: relative;
      z-index: 2;
      display: block;
      transform: rotate(-45deg);
      font-size: 1.4em;
      color: white;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      
      &:before {
        transform: scale(0.85) rotate(0deg);
        // height: 0%;
      }

      // &:after {
      //   transform: translate(-100%, -2%) rotate(-45deg);
      // }

      span {
        color: $tuna;
      }
    }
  }
}